/*
#cy {
  
  width: 100%;
  height: 100%;
  position: absolute;
 
  left: 0%;
  top: 0%;
  z-index: 999;
  border: solid;
  border-width: 1;
}
*/

#cy-container {
  position: absolute;
  border: solid;
  border-width: 1;
  left: 0%;
  top: 0%;
  width:100%;
  height: 100%;
}

#cy {
  position: relative;
  width:100%;
  height: 100%;
  
}
